/* html {
  padding: 0;
  margin: 0;
} */

/* body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
} */

body {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* max-width: 1280px;
  margin: 0 auto;
  text-align: center; */
  background-color: #000000;
  width: 100%;
  margin: 0 auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-xl: 5rem;
  --fs-l: 3.2rem;
  --fs-m: 2rem;
}

h1 {
  /* font-size: 3.2rem; */
  font-size: var(--fs-l);
  line-height: var(--fs-l);
  /* margin: 0; */
}

button {
  border-radius: 8px;
  border: 1px solid #cc00ff;
  padding: 0.4em 1.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #cc00ff;
} */

.nav_outer_container {
  /* width: 1000px; */
  /* border: 2px solid white; */
  width: 80%;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  /* border: 2px solid white; */
  /* width: 100%; */
}

.social_icons {
  margin: 20px;
  margin-right: 0;
}

.social_icons img {
  margin: 3px;
  height: 35px;
}

.search {
  /* width: fit-content; */
  width: 30%;
  min-width: 180px;
  max-width: 400px;
  margin: 20px;
  margin-left: 0;
  color: #959595;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0.9;
}

input[type="search"] {
  background: transparent;
  /* min-width: 120px; */
  width: 100%;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

/* input,
select,
textarea {
  border: 2px solid #333;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 0.25rem;
} */

input[type="text"],
input[type="email"],
input[type="file"],
select,
textarea {
  /* font: 1.25rem / 1.5 sans-serif; */
  display: block;
  background-color: rgba(255, 255, 255, 0.084);
  box-sizing: border-box;
  width: 50%;
  padding: 0.3rem 0.3rem;
  border-radius: 6px;
  border: none;
}

label {
  margin-top: 15px;
  margin-bottom: 3px;
}

.upload_button {
  margin: 25px 0px;
}

button.search_button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 7px;
  background: url("./search_FILL0_wght400_GRAD0_opsz24.svg") no-repeat center;
  background-color: white;
  cursor: pointer;
  opacity: 0.5;
}

.single_news_container_outer {
  /* width: 1000px; */
  width: 80%;
  margin-top: 15rem;
  /* display: flex */
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.single_news_container {
  position: relative;
  margin-top: 1.3rem;
  padding: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.85);
}

.single_news_container:hover {
  background-color: rgb(0, 0, 0);
}

.single_news_container:before,
.single_news_container:after {
  content: "";
  position: absolute;
  border-radius: 16px;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 250s linear infinite;
}

.single_news_container p {
  margin: 0;
  color: #dc4eff;
}

.single_news_container h2 {
  margin: 0.8rem 0 1rem 0;
}

.logo h1,
.logo p {
  margin: 0;
  text-align: center;
  line-height: 2.2rem;
  color: white;
}

.logo p {
  color: rgba(255, 255, 255, 0.6);
}

.logo a {
  text-decoration: none;
}

.logo h1:hover {
  color: #cc00ff;
}

.read_more_container {
  background-color: rgba(255, 255, 255, 0.129);
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  margin: 15px auto 10px auto;
  text-align: center;
}

.read_more_container button {
  margin: 1px 0 6px 0;
}

.read_more_container p {
  color: white;
}

.read_more_container:hover {
  background-color: rgba(255, 255, 255, 0.162);
  /* filter: drop-shadow(0 0 7em #4750fd97); */
}

.nav_right_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 2px;
  margin: 0;
}

ul > li {
  background-color: #5a026f;
  border-radius: 4px;
  padding: 0 15px 0 15px;
  display: inline-block;
  margin: 2px 10px;
  font-size: 0.75rem;
}

li:hover {
  background-color: #c000a9;
}

.nav_main_links li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 0px;
}

.nav_main_links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 1px 5px;
}

.nav_main_links li a:hover {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 4px;
}

.nav_main_links a.active {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 4px;
}

.burger_navbar_main_links a.active {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 4px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.single_news_container:after {
  filter: blur(50px);
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 0rem;
}

.footer_container a {
  text-decoration: none;
  color: white;
}

.burger_menu {
  display: none;
}

.burger_navbar {
  position: fixed;
  top: 170px;
  right: 18px;
  /* height: 100vh; */
  width: 150px;
  border-radius: 10px;
  display: flex;
  background-color: #32003da2;
  padding: 20px 10px;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.burger_navbar_main_links li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 5px 0;
}

.burger_navbar_main_links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 1px 5px;
}

.burger_navbar_main_links li a:hover {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 4px;
}

.pricing_outer_container {
  /* background-color: #131313; */
  margin-top: 14rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  background-image: url("/brain_bgrd.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container*/
}

.pricing_inner_container {
  width: 100%;
  max-width: 1000px;
  margin: 0 10%;
}

.pricing_container {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding-bottom: 50px;
}

.pricing_container h1 {
  margin: 1rem 0rem;
}
.pricing_container h2 {
  margin: 1rem 0rem;
}

.pricing_basic,
.pricing_startup,
.pricing_enterprise {
  margin: 1rem;
  /* width: 300px;
  height: 450px; */
  width: 33%;
  background-color: #000000;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px 15px;
}

/* box-sizing: border-box;
padding: 1px 5px;
}

.nav_main_links li a:hover {
border: 1px solid #ffffff;
border-radius: 4px;
padding: 0 4px; */

.basic_usps,
.startup_usps,
.enterprise_usps {
  background-color: #151515;
  padding: 15px 15px;
  border-radius: 10px;
  margin: 20px 0px;
}

.pricing_basic:hover,
.pricing_startup:hover,
.pricing_enterprise:hover {
  border: 1px solid #ffffff;
  padding: 14px 14px;
  background-color: #0d0d0d;
}

.pricing_container p {
  text-align: left;
}

.upload_outer_container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* padding: 20px 0; */
}

.upload_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
  background-color: #1a1a1a;
  border-radius: 15px;
  width: 80%;
  /* height: 20rem; */
  margin-left: auto;
  margin-right: auto;
}

.upload_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #37373767;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* border: 2px solid blue; */
}

.upload_preview {
  max-width: 150px;
  max-height: 150px;
}

.courses_container_outer {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  /* padding: 40px 0; */
}

.courses_container_inner {
  /* display: flex;
  justify-content: center; */
  /* grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
  padding: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(20px, auto);
}

.courses_cards {
  background-color: #ffffff1c;
  border-radius: 10px;
  max-width: 300px;
}

.courses_cards:hover {
  background-color: #ffffff33;
}

.courses_cards a {
  color: rgb(180, 180, 180);
  text-decoration: none;
}

.courses_cards a:hover {
  color: white;
}

.courses_cards_keyvisual {
  height: 10rem;
  /* background-color: #00ff00; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.courses_cards_description {
  /* border: 2px solid red; */
  padding: 15px;
  text-align: left;
}

.courses_cards_description h2 {
  margin: 0;
}

.courses_subinfo_container {
  display: flex;
}

.courses_subinfo {
  background-color: rgba(255, 255, 255, 0.312);
  margin-right: 7px;
  padding: 0px 7px;
  border-radius: 10px;
}

.courses_subinfo p {
  font-size: x-small;
  margin: 0;
}

.course_outer_container {
  margin-top: 11rem;

  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.course_keyvisual {
  height: 500px;
}

.course_content_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
}

@media (max-width: 700px) {
  .nav_outer_container {
    width: 90%;
  }

  .nav_right_container {
    display: none;
  }

  .single_news_container_outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 12rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
  }

  .burger_menu {
    display: block;
  }

  .pricing_outer_container {
    background-size: 300%;
    background-repeat: repeat;

    /* filter: blur(7px);
    backdrop-filter: blur(5px); */
  }

  .pricing_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .pricing_basic,
  .pricing_startup,
  .pricing_enterprise {
    width: 90%;
    padding: 15px 30px;
  }

  .pricing_basic:hover,
  .pricing_startup:hover,
  .pricing_enterprise:hover {
    border: 1px solid #ffffff;
    padding: 14px 29px;
    background-color: #0d0d0d;
  }

  .pricing_inner_container {
    width: 100%;
    margin: 0 4%;
  }

  .upload_outer_container {
    margin-top: 10rem;
  }

  .upload_container {
    width: 90%;
  }

  .courses_container_outer {
    margin-top: 12rem;
    /* background-color: #202020; */
  }

  .courses_container_inner {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns: auto;
    gap: 20px;
  }

  .course_keyvisual {
    height: 315px;
  }

  input[type="text"],
  input[type="email"],
  input[type="file"],
  select,
  textarea {
    width: 90%;
  }

  label {
    margin-top: 10px;
    margin-bottom: 3px;
  }
}
