#root {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.news_json_component_container {
  margin: 20px;
  border: 2px solid rgb(0, 78, 196);
}

.single_news_container {
  margin: 20px;
  padding: 15px;
  border: 2px solid #73008f;
  border-radius: 15px;
}

.single_news_container p {
  margin: 0;
  color: #dc4eff;
}

.single_news_container:hover {
  border: 2px solid #cc00ff;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 7em #4750fd97);
}

.logo {
  transition: filter 300ms;
  margin: 30px 15px;
}
.logo:hover {
  color: #5a026f;
}

.read_more_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.092);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 2px;
  margin: 0;
}

ul > li {
  background-color: #5a026f;
  border-radius: 4px;
  padding: 0 15px 0 15px;
  display: inline-block;
  margin: 2px 10px;
  font-size: 0.75rem;
}

li:hover {
  background-color: #c000a9;
}
